.vs/book_manager/FileContentIndex/
book_manager/obj/Container/AbsoluteOutputAssemblyPath.cache
book_manager/obj/Container/AdditionalProbingPaths.cache
book_manager/obj/Container/ContainerCreationResult.cache
book_manager/obj/Container/ContainerOperatingSystemFlavor.cache
book_manager/obj/Container/DebuggeeArguments.cache
book_manager/obj/Container/DebuggeeKillProcessCommand.cache
book_manager/obj/Container/DebuggeeProgram.cache
book_manager/obj/Container/DebuggeeWorkingDirectory.cache
book_manager/obj/Container/FastModeProjectMountDirectory.cache
book_manager/obj/Container/ImageBuildContext.cache
book_manager/obj/Container/ImageId.cache
book_manager/obj/Container/OperatingSystemName.cache
book_manager/obj/Container/TargetFramework.cache
book_manager/obj/Container/VolumeMappings.cache
book_manager/obj/Container/VsDbgScript.cache
book_manager/obj/Debug/net5.0/book_manager.MvcApplicationPartsAssemblyInfo.cache
book_manager/obj/Debug/net5.0/book_manager.MvcApplicationPartsAssemblyInfo.cs
book_manager/obj/Debug/net5.0/book_manager.csproj.CoreCompileInputs.cache
book_manager/obj/Debug/net5.0/book_manager.csproj.FileListAbsolute.txt
book_manager/obj/Debug/net5.0/book_manager.sourcelink.json

.vs/ProjectEvaluation/book_manager.metadata.v7.bin
.vs/ProjectEvaluation/book_manager.projects.v7.bin.vs/book_manager/DesignTimeBuild/.dtbcache.v2
.vs/book_manager/v17/.futdcache.v2
.vs/book_manager/v17/.suo
.vs/book_manager/v17/DocumentLayout.json
book_manager/book_manager.csproj
book_manager/obj/Container/ContainerDevelopmentMode.cache
book_manager/obj/Container/ContainerId.cache
book_manager/obj/Container/ContainerName.cache
book_manager/obj/Container/ContainerRunContext.cache
book_manager/obj/Container/warmup.sem
book_manager/obj/Debug/net5.0/book_manager.AssemblyInfo.cs
book_manager/obj/Debug/net5.0/book_manager.AssemblyInfoInputs.cache
book_manager/obj/Debug/net5.0/book_manager.GeneratedMSBuildEditorConfig.editorconfig
book_manager/obj/Debug/net5.0/book_manager.assets.cache
book_manager/obj/Debug/net5.0/book_manager.csproj.AssemblyReference.cache
book_manager/obj/book_manager.csproj.nuget.dgspec.json
book_manager/obj/book_manager.csproj.nuget.g.props
book_manager/obj/project.assets.json
book_manager/obj/project.nuget.cache
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

book_manager/book_manager/obj/Debug/net5.0/book_manager.AssemblyInfo.cs
book_manager/book_manager/obj/Debug/net5.0/book_manager.AssemblyInfoInputs.cache
book_manager/book_manager/obj/Debug/net5.0/book_manager.assets.cache